$color-blue: #00001a;
$color-blue-transparent: #00001a75;
$color-gold: #f9e5d2;
$color-gold-transparent: #f9e5d275;
$color-white: #ffffff;
$color-grey-light: #f2f2f2;
$color-black: #000000;
$color-purple: #8080ff;
$color-red: #ff8080;
$color-shadow: #00001a25;
$screen-mobile-s: 320px;
$screen-mobile-m: 440px;
$screen-mobile-l: 560px;
$screen-tablet-s: 680px;
$screen-tablet-m: 800px;
$screen-tablet-l: 920px;
$screen-desktop-s: 1040px;
$screen-desktop-m: 1160px;
$screen-desktop-l: 1280px;
